body {
  overflow-x: hidden;
}

.logo img {
  filter: invert(1);
}

.horizonMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.horizonTitle h1 {
  font-size: 350px;
  font-family: "Six Caps", sans-serif;
  color: #272b2a;
}

#one {
  position: absolute;
  top: -10%;
  left: 20%;
  color: #25528b;
}

#two {
  position: absolute;
  top: -10%;
  left: 36%;
  color: white;
  text-shadow: -1px -1px 0 #25528b, 1px -1px 0 #25528b, -1px 1px 0 #25528b,
    1px 1px 0 #25528b;
}

#horizon {
  position: absolute;
  bottom: -10%;
  right: 12%;
  color: #25528b;
}

.horizonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.horizonDesc {
  padding: 50px;
}

.horizonDesc p {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  text-align: justify;
  margin-top: 20px;
}

.horizonKeys {
  height: 400px;
}

.bgText {
  font-family: "Six Caps", sans-serif;
  font-size: 100px;
}

#bgOne1 {
  position: absolute;
  top: 10%;
  left: 3%;
  rotate: 20deg;
}

#bgOne2 {
  position: absolute;
  bottom: 10%;
  right: 3%;
  rotate: -20deg;
}

#bgTwo1 {
  position: absolute;
  top: 8%;
  right: 30%;
  rotate: -20deg;
}

#bgTwo2 {
  position: absolute;
  bottom: 15%;
  left: 25%;
  rotate: 20deg;
}

.horizonDiv {
  position: relative;
  top: 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.horizonDivDesc {
  width: 60vh;
}

.horizonDivDesc h1 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}

.horizonDivDesc p {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  text-align: justify;
  margin-top: 20px;
}

.horizonDiv img {
  border-radius: 30px;
}

.horizonPics {
  position: relative;
  height: 100vh;
}

.horizonPics img {
  height: 400px;
  border-radius: 30px;
}

.horizonPics h1 {
  position: absolute;
  top: 60%;
  left: -2%;
  font-family: "Six Caps", sans-serif;
  font-size: 350px;
  color: white;
  text-shadow: -1px -1px 0 #25528b, 1px -1px 0 #25528b, -1px 1px 0 #25528b,
    1px 1px 0 #25528b;
}

#bezel {
  position: absolute;
  top: 10%;
  left: 10%;
}

#overview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#space {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.specs {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.specs h1 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
}

table {
  text-align: center;
  width: 60%;
  margin-top: 50px;
}

th {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  padding-bottom: 10px;
}

td {
  border-top: 1px solid black;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .horizonTitle h1 {
    font-size: 250px;
  }

  #one {
    top: -8%;
    left: 5%;
  }

  #two {
    top: -8%;
    left: 33%;
  }

  #horizon {
    right: 5%;
    bottom: -6%;
  }

  #bgOne1 {
    top: 20%;
  }

  #bgTwo2 {
    bottom: 5%;
  }

  .horizonContainer {
    flex-direction: column;
  }

  .horizonKeys {
    height: 300px;
  }

  .horizonDesc {
    padding: 0px;
  }

  .horizonDesc p {
    font-size: 1.5rem;
  }

  .horizonDiv {
    flex-direction: column;
  }

  .horizonDiv img {
    height: 300px;
  }

  .horizonDivDesc {
    order: 1;
  }

  .horizonPics img {
    height: 200px;
  }

  .horizonPics h1 {
    font-size: 220px;
  }
}

@media screen and (max-width: 450px) {
  .horizonTitle h1 {
    font-size: 150px;
  }

  #two {
    left: 40%;
  }

  .horizonKeys {
    height: 150px;
  }

  .horizonDesc p {
    font-size: 1rem;
  }

  .bgText h1 {
    font-size: 100px;
  }

  .horizonDiv img {
    height: 200px;
  }

  .horizonDivDesc {
    width: 80%;
  }

  .horizonDivDesc h1 {
    font-size: 30px;
  }

  .horizonDivDesc p {
    font-size: 1rem;
  }

  .horizonPics img {
    height: 200px;
  }

  .horizonPics h1 {
    top: 80%;
    font-size: 150px;
  }

  .specs h1 {
    font-size: 30px;
  }

  table th {
    font-size: 20px;
  }

  table td {
    font-size: 0.7rem;
  }
}
