<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <title>Final Project: About Us</title>
</head>
<body>

    <div class="transition transition-1 is-active"></div>

    <div class="home">
        <a href="/">HOME</a>
    </div>
    <main>
        <div class="ducky">
            <h1>Ducky</h1>
        </div>
        <div class="date">
            <h1>1998</h1>
        </div>
        <div class="about">
            <div class="about1">
                <h3>SWITCH THE WORLD</h3>
                <p>Based in Taiwan, Ducky founded its own brand in 2008 and became a manufacturing company that has strived to provide users with mechanical keyboards of the highest standard since day one. 
                    Fast forward to now, we are one of the top mechanical keyboard manufacturers in the world and have built a reputation for providing products that are innovative, performance oriented and solidly built. 
                    Our ultimate goal is to have our logo be synonymous with excellence and product satisfaction.
                </p>
            </div>
            <div class="about2">
                <h3>CONNECT THE WORLD</h3>
                <p> Having already established business partnerships in over 30 countries, Ducky has made a name for ourselves globally.
                    We are eager to continue expanding, giving consumers in every corner of the world a channel to purchase and experience Ducky products.
                    Moving forward, we will be aiming to reach even greater heights, tirelessly figuring out ways to come up with products that help users optimize their typing experience.
                    Whether you're working or playing, give your fingers the comfort they deserve.
                </p>
            </div>
        </div>
    </main>
    
    <div class="socials">
        <a href="https://www.facebook.com/duckychannel/" target="__blank">FB</a>
        <a href="https://twitter.com/duckychannel" target="__blank">TW</a>
        <a href="https://www.instagram.com/duckychannel/?hl=zh-tw" target="__blank">IG</a>
    </div>
</body>
</html>