<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/contact.css">
    <title>Final Project: Contact</title>
</head>
<body>

    <div class="transition transition-1 is-active"></div>

    <div class="logo">
        <form action="/">
            <button type="submit">
                <img src="/static/media/duckyLogo.png" alt="logo">
            </button>
        </form>
    </div>
    <main>
        <div class="container">
            <div class="contactMain">
                <div class="contactTitle">
                    <h1 id="contact">CONTACT</h1>
                    <h1 id="us">US</h1>
                </div>
                <div class="contactSub">
                    <p> Want to get in touch? We’d love to speak with you! Here's how you can reach us. </p>
                </div>
            </div>
            <div class="contactDetails">
                <div class="contactDetails1">
                    <div class="office">
                        <h2>Head Office:</h2>
                        <p> 7F., No.381, Yangguang St., Neihu Dist., Taipei City, Taiwan </p>
                    </div>
                    <div class="maintenance">
                        <h2>Maintenance Department:</h2>
                        <p>  7F., No.381, Yangguang St., Neihu Dist., Taipei City, Taiwan </p>
                    </div>
                    <div class="mail">
                        <h2>Mailbox:</h2>
                        <p> support@duckychannel.com.tw </p>
                    </div>
                </div>
                <div class="contactDetails2">
                    <div class="phone">
                        <h2>Phone:</h2>
                        <p>+886-2-2797-7288</p>
        
                        <h2>Fax:</h2>
                        <p>+886-2-2797-1859</p>
                    </div>
                    <div class="buy">
                        <h2>Where to Buy:</h2>
                        <a href="https://www.lazada.com.ph/shop/ducky-keyboard/" target="__blank">https://www.lazada.com.ph/shop/ducky-keyboard/</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>